@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-3Light';
}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}
#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#headerwrap {
    background-color: #c0d968;
}

/* 헤더 */
#header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px 16px 15px;
}

.logo img {
    width: 140px;
    margin: -40px 0px;
    margin-left: 15px;
}

.logtopMenu a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

/* 메인 */
#logmain {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    text-align: center;
}

#logmain h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.login {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login input {
    padding: 20px;
    margin: 10px 0px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid black;
}

.login button {
    width: 30%;
    margin: 0% auto;
    padding: 5px;
    border: none;
    border-radius: 30px;
    background-color: #c0d968;
    color: #fff;
    font-size: 20px;
}


/* 푸터 */
#footerwrap {
    background-color: #f7f7f7;
}

#footer {
    width: 1280px;
    margin: 0 auto;
    padding: 24px 48px;
    text-align: right;
    font-size: 14px;
    color: #333;
}

.footerTop {
    margin-right: 269px;
}
.stock button{
    margin-right: 5px;
}
.pwdBox{
    position: relative;
}
.imgpwd{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px;
    top: 35px;
}
#loguserPwd{
    width: 350px;
}