/* ======공통 CSS ===== */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream-3Light', sans-serif; /* 폰트 전체 적용 */
}

#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#headerwrap {
    background-color: #c0d968;
    width : 100%
}

/* ===== header ====== */
#header {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
    
}

.logo img {
    width: 140px;
    margin: -40px 0px;
    vertical-align: middle; /* 이미지 하단 여백 제거 */
}

.logtopMenu a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

/* ===== main ====== */
.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
}
.container h1 {
    font-size: 40px;
    margin-bottom: 40px;
    
}
#signup input{
    padding: 20px;
    margin: 10px 0px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid black;
}
#signup{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
   margin-bottom: 30px;
}
.btnSignup{
    width: 100%;
    max-width: 350px;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    background-color: #c0d968;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer ;
    margin-bottom: 20px;
}
		
			
			
			
/* ====== footer ====== */
#footerwrap {
    background-color: #f7f7f7;
}

#footer {
    width: 1280px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 24px 48px;
    text-align: right;
    font-size: 14px;
    color: #333;
}

.footerTop {
    margin-right: 260px;			
			
}