@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
/*==========================공통 CSS==========================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'S-CoreDream-3Light';
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
/*==========================본문 CSS==========================*/
#container{
    display: flex;
    width: 1280px;
    margin: 0 auto;
    min-height: 950px;
}
/*==========================본문 사이드바 CSS==========================*/

.re_sidebar{
    width: 200px;
}
.re_sidebar > ul{
    text-align: center;
}
.re_sidebar > ul > li{
    padding: 20px 10px;
    border-bottom: 1px solid #c1c1c1;
}
.re_sidebar_select{
    background-color: #c0d968;
    border: 2px solid white;
}
/*==========================본문 내용 CSS==========================*/
.re_content{
    width: 1000px;
    margin: 0 auto;
}
.re_content th{
    padding: 45px 70px;
}
.re_content > table{
    width: 1000px;
    height: 600px;
}
.re_btn1{
    width: 23px;
    height: 23px;
    background-color: white;
    border: 1px solid gray;
    margin: 0px 5px;
}
.re_price{
    width: 500px;
}
.re_btn2{
    width: 120px;
    height: 50px;
    color: white;
    border: none;
    background-color: #c0d968;
    border-radius: 20px;
    font-size: 15px;
}
.textarea{
    width: 350px;
    height: 80px;
}
.userName{
    font-size: 20px;
}