/* *{
    border: 1px solid red;
} */
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
.managerName{
    font-size: 20px;
}
#main{
    flex: 1;
    background-color: white;
    display: flex;
    width: 1280px;
    margin: 0 auto;
    min-height: 950px;
}
.m_sidebar{
    width: 200px;
}
.m_sidebar > ul{
    text-align: center;
}
.m_sidebar > ul > li{
    padding: 20px 10px;
    border-bottom: 1px solid #c1c1c1;
}
.m_sidebar_select{
    background-color: #c0d968;
    border: 2px solid white;
}
.m_table_div{
    width: 990px;
    margin: 0 auto;
}
.m_table{
    width: 950px;
    height: 400px;
    margin: 30px 20px;
    border: 1px solid black;
    text-align: center;
}
.m_table > thead > tr{
    height: 60px;
}
.m_table_title{
    text-align: left;
    padding-left: 25px;
    font-size: 25px;
    background-color: #eeeeee;
    position: relative;
}
.m_table > tbody > tr{
    height: 40px;
}
.m_table > tbody > tr  > td > button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #c0d968;
}
.m_table > tbody > tr:nth-child(odd){
    background-color: #eeeeee;
}




/*---------------hover---------------*/
.m_table > tbody > tr:hover{
    background-color: #c0d968;
}


/*---------------searchbox---------------*/
.searchbar{
    display: flex;
    background-color: #eeeeee;
    padding: 20px;
    width: 950px;
    margin: 30px auto;
    justify-content: center;
    
}
.searchbar > input{
    width: 300px;
    margin: 0px 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.searchbar > button{
    background-color: white;
    border: 1px solid black;
    padding: 10px 8px;
}

.logoutBtn{
    background-color: #c0d968;
    margin-left: 10px;
    padding: 2px;
    width: 80px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px gray;
}
.logoutBtn:active{
    transform: translateY(2px);
}
.managerName{
    width: 1000px;
    text-align: right;
}
.bar_wrap{
    width: 100%;
}