*{
    border: 1px solid red;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}

#main{
    background-color: white;
    display: flex;
    width: 1280px;
    margin: 0 auto;
}
.m_sidebar{
    width: 200px;
}
.m_sidebar > ul{
    text-align: center;
}
.m_sidebar > ul > li{
    padding: 20px 10px;
    border-bottom: 1px solid #c1c1c1;
}
.m_sidebar_select{
    background-color: #c0d968;
    border: 2px solid white;
}
.m_table_div{
    width: 1000px;
    margin: 0 auto;
}
.m_table{
    width: 950px;
    height: 400px;
    margin: 30px 20px;
    border: 1px solid black;
    text-align: center;
}
.m_table > thead > tr{
    height: 60px;
}
.m_table_title{
    text-align: left;
    padding-left: 25px;
    font-size: 25px;
    background-color: #eeeeee;
}
.m_table > tbody > tr{
    height: 40px;
}
.m_table > tbody > tr  > td > button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #c0d968;
}
.m_table > tbody > tr:nth-child(odd){
    background-color: #eeeeee;
}




/*---------------hover---------------*/
.m_table > tbody > tr:hover{
    background-color: #c0d968;
}